/* @media (max-width: 1334px) {
    #header {
        text-align: center;
    }

    #menu > ul {
        margin-top: 20px;
        align-items: flex-start;
        justify-content: space-evenly;
    }
}

@media (max-width: 670px) {
    #content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #aside {
        margin-right: 0px;
        margin-top: 20px;
        text-align: center;
    }

    #projects {
        margin-right: 5px;
        margin-left: 25px;
    }

    #aside ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    #aside ul li {
        flex-grow: 1;
        margin-left: 5px;
        margin-right: 5px;
    }

    #footer .logo {
        flex-grow: 1;
        order: 1;
        text-align: center;
        flex-basis: 100%;
    }
    
    #footer .info {
        flex-grow: 1;
        order: 2;
        flex-basis: 100%;
        text-align: center;
    }
} */

@media (max-width: 882px) {
    #header { 
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        justify-content: center;
        height: 140px;
        padding-bottom: 20px;
    }

    #header h1 {
        text-align: center;
    }

    #content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 17 auto;
        align-items: start; 
        justify-items: space-between;
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .project {
        margin-left: 10px;
        margin-right: 10px;
    }

    #aside {
        margin-right: 0px;
        padding: 15px;
    }

    #aside ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    #footer {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    #footer .logo {
        text-align: center !important;
    }
}